footer {
  width: 100%;
  position: absolute;
  font-size: 14px;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  box-shadow: 10px 0 10px 1px #888;
}

.social_list {
  color: #0000FF;
}

.span2 {
  color: black;
  font-weight: bold;
}

.span {
  color: red;
  font-weight: bold;
}